.header {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  text-align: center;
  background: url("../public/pattern-bg.png");
  background-size: cover;
  width: 100%;
  padding: 1em;
  position: relative;
}
.search-bar {
  width: 100%;
  margin-bottom: 1rem;
}
.card {
}
