.header {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  background: url("../public/pattern-bg.png");
  background-size: cover;
  width: 100%;
  padding: 1em 1em 2em 1em;
  position: relative;
}
.search-bar {
  width: 100%;
  margin-bottom: 2rem;
}
.card {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}
